.imgage{float:left;padding:2px;height: 200px;width:250px;}
div a img{height: 180px; width: 250px;float:left;}
.desc{font:bold,16px; text-align: center;}
 div a:hover img{opacity:1;}
div :link img{opacity:0.5;}
 div img{
 	display:inline;
 	margin:3px;
 	border:1px solid #bebebe;
 	width:200px;
 	height:160px;
 }
 div a:hover img{
 	border:1px solid #333333;
 }